div.container {
    width: 100%;
    border: 1px solid gray;
}
header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
}
nav {
    float: left;
    max-width: 150px;
    margin: 0;
    padding: 1em;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul a {
    text-decoration: none;
}
article {
    margin-left: 155px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}
th {
    padding: 10px;
    text-align: center;
}
td {
    padding: 5px;
    text-align: center;
}
.image {
    position: relative;
    width: 100%;
}
h2 {
    position: absolute;
    top: 93px;
    left: 17px;
    width: 100%;
}
h2 span {
    color: yellow;
    font: bold 15px/24px Helvetica, Sans-Serif;
    background: rgb(18, 18, 241);
    padding: 2px;
}
h3 {
    position: absolute;
    top: 94px;
    left: 45px;
    width: 100%;
}
h3 span {
    color: blue;
    font: bold 15px/24px Helvetica, Sans-Serif;
    background: rgb(241, 241, 18);
    padding: 2px;
}
